<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>

    <%- include("partials/errors.ejs") %>

    <form action="/create" method="POST">
      <ul>
        <li class="create-user-form-field">
          <label for="firstName">First Name: </label>
          <input type="text" name="firstName" id="firstName" required />
        </li>
        <li class="create-user-form-field">
          <label for="lastName">Last Name: </label>
          <input type="text" name="lastName" id="lastName" required />
        </li>
        <li><button type="submit">Submit</button></li>
      </ul>
    </form>
    <a href="/">Back to home</a>
  </body>
</html>
