<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles/global.css">
</head>
<body>
  <h1><%= title %></h1>
  <form method="GET" action="/search">
    <input placeholder="Search for users" name="search-input" />
    <button type="submit">Search</button>
  </form>

  <ul class="user-list">
    <% if (users) {%>
      <% users.forEach(user => { %>
        <%- include("partials/user", { user: user}) %>
      <% }); %>
    <% } %>
  </ul>
  <a href="/create">Create a user</a>
</body>
</html>