<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>User search</title>
  </head>
  <body>
    <% if (resultList.length === 0) {%>
        <p>No users found</p><%} %>

    <ul class="results">
    </ul>

    <a href="/">Back to home</a>
  </body>
</html>
